@import '../../global.scss';

.my-menu {
  margin-bottom: 48px;  
  &-wrapper {
    display: flex;
    justify-content: space-between;

    .left {
      flex: 2;
      max-width: 66.2%;
      border-radius: 16px;
      padding: 40px 48px;
      background-color: $main-color;  
      background: linear-gradient(top left, $bg-color, $main-color 35%);
      background: -moz-linear-gradient(top left, $bg-color, $main-color 35%);
      background: linear-gradient(to bottom right, $bg-color, $main-color 35%);      
      position: relative;    
    }

    .right {
      overflow: hidden;
      flex: 1;
      max-width: 32.5%;
      border-radius: 16px;
      padding: 40px;
      background-color: $main-color;
      background: linear-gradient(bottom left, $gradient-color, $main-color 40%);
      background: -moz-linear-gradient(bottom left, $gradient-color, $main-color 40%);
      background: linear-gradient(to top right, $gradient-color, $main-color 40%);
      position: relative;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        height: 100%;
      }
      
      h3 {
        font-size: 24px;
        line-height: 32px;
        font-weight: normal;
        margin-bottom: 15px;
      }

      .my-menu-btn {        
        span {
          display: inline-block;          
          height: 12px;
          margin-left: 20px;
          font-size: 18px;       
        }
      } 
      
      .image-wrapper {
        position: absolute;
        left: 255px;
        top: 26px;
      }
    }
  }

  &-title {
    font-size: 40px;
    margin-bottom: 32px;
  }

  &-content {
    display: flex; 
    margin-bottom: 70px;    

    &::before {
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      content: "";
      background-color: #E9EAEC;            
      top: 221px;
      left: 0;                        
    }
    &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      content: "";
      background-color: white;
      top: 222px;
      left: 0;                        
    }

    p {
      font-size: 20px;
      line-height: 24px;
      margin-left: 16px;
    }    

    .content-left {
      margin-right: 60px;
      display: flex;      
      align-items: center;
    }

    .content-right {
      display: flex;
      align-items: center;
    }
  }

  &-form {
    input {
      padding: 16px;
      font-size: 14px;
      line-height: 20px;
      background-color: #E9EAEC;
      border-radius: 4px;
      border: none;
    }

    h3 {
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 8px;
    }

    .form-wrapper {
      display: flex;

      .my-menu-btn {
        align-self: flex-end;        
      }
    }

    .form-group {
      margin-right: 16px;
      display: flex;
      flex-direction: column;

      label {
        display: inline-block;
        font-family: $secondory-text;
        font-size: 12px;
        line-height: 15px;
        color: #ACADA5;
        font-weight: 300;
        margin-bottom: 5px;
      }
      input {
        display: block;
        border: none;
        width: 240px;        
        padding: 16px;
        border-radius: 4px;
      }
    }   
  }
}