@import '../../global.scss'; 

.menu {
  width: 1318px;
  display: flex;
  justify-content: center;
  margin: 0 auto; 
  
  &-list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    a {
      color: $font-color;
      text-decoration: none;
      line-height: 28px;
      transition: color 0.4s ease-in-out;

      &::after {
        display: block; 
        content: ""; 
        height: 2px; 
        width: 0%; 
        margin-top: 14px;
        background-color: $accent-color; 
        transition: width 0.4s ease-in-out; 
      }

      &:hover {
        color: $accent-color;

        &::after {
          width: 100%;
        }
      }
    }    
  }
}