@import '../../global.scss';

.guest {
  .guest-price {
    display: flex;
    justify-content: space-between;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;    
    margin-bottom: 13px;
  }

  h3 {
    margin-bottom: 24px;
    line-height: 32px;
    font-weight: normal;
  }

  .left {
    width: 57.8%;
    background-color: $main-color;
    padding: 32px 40px;
    border-radius: 16px;
    position: relative;

    .progress-line {
      width: 100%;
      height: 4px;
      background-color: white;
      margin-bottom: 32px;
      &::after {
        display: block;
        content: "";
        width: 25%;
        height: 4px;
        background-color: #C6AF66;
      }
    }    

    h4 {
      line-height: 28px;
      margin-bottom: 8px;
      font-weight: normal;
    }

    .guest-quantity {      
      width: 100%;
      margin-bottom: 73px;
      &::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        content: "";
        background-color: #E9EAEC;
        bottom: 116px;
        left: 0;                        
      }
      &::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        content: "";
        background-color: white;
        bottom: 115px;
        left: 0;                        
      }
      .quantity-ratio {
        display: inline-flex;
        justify-content: center;
        align-items: center; 
        width: 128px;
        height: 52px;
        background: white;
        margin-right: 16px;

        &:first-child {
          width: 118px;
        }

        input {
          margin-right: 20px;
        }
      }      
    }        
  }
  &-btn {
    padding-right: 27px;
    span {
      display: inline-block;
      width: 18px;
      height: 12px;
      margin-left: 20px;
      font-size: 18px;       
    }
  }

  .right {
    width: 40.9%;
    background-color: #F7F7F8;
    padding-left: 32px;
    padding-bottom: 32px;
    border-radius: 16px;
    position: relative;     
    display: flex;  
    position: relative;
    background-color: #f7f7f8;  
    background: linear-gradient(90deg, #cdb00a, #cdb00a 0%);
    background: -moz-linear-gradient(top right, #cdb00a, #cdb00a 0%);
    background: linear-gradient(to bottom left, #cdb00a, #cdb00a 0%);
    background-repeat: no-repeat;
    .content-wrapper {
      display: flex;
      align-items: flex-end;
      h3 {
        margin-bottom: 0;
      }
    }
    .image-wrapper {
      position: absolute;
      right: 0;
      top: -30px;
    }
  }  
}
