@import '../../global.scss';

.shema {
  margin-bottom: 48px;
  
  &-title {
    font-size: 40px;
    line-height: 48px;   
    margin-bottom: 68px;
  }

  .shema-content {
    position: relative;
    display: flex;
    background-color: $main-color;

    > span {
      display: inline-block;      
      position: absolute;
      border-radius: 16px 16px 0 0;
      padding: 16px 32px;
      top: -52px;
      font-size: 15px;
      line-height: 20px;
      font-family: $secondory-text;
      cursor: pointer;

      &:nth-child(1) {
        left: 0;
        background-color: $main-color;        
      }
      &:nth-child(2) {
        left: 151px;
        background-color: #E9EAEC;
      }
    }

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;      
      
      img {
        display: block;
        max-width: 100%;
      }
    }
  
    .right {
      display: flex;
      flex: 1;  
      justify-content: center;
      align-items: center;          
    }

    .shema-info {
      width: 536px;
      padding: 40px 40px 48px;
      background-color: white;

      h3 {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 24px;
      }

      .info-descr {
        display: flex;
        flex-direction: column;

        div {
          border-bottom: 2px solid #E9EAEC;
          padding: 8px 0;

          span:first-child {
            display: inline-block;
            width: 160px;
            margin-right: 40px;
            line-height: 28px;
          }

          &:last-child {
            border-bottom: none;
          }
        }        
      }



      .buttons {
        display: flex;
        width: 402px;
        justify-content: space-between;
        margin-top: 24px;
      }
    }
  }  
}

