@import '../../global.scss'; 

.topbar {
  width: 100%;
  min-height: 144px;
  padding-top: 12px;
  border: 1px solid $main-color;
  border-radius: 0  0 16px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  
  .top-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .top-info {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .adress {
        display: flex;
        align-items: center;
        width: 200px;

        &-text {
          margin-left: 20px;
        }
      }
      .icons {
        display: flex;
        margin-left: 48px;
        cursor: pointer;

        .icons-wrap {
          margin-right: 8px;
  
          &:last-child {
            margin-right: 0;
          }
        }
      }      
      .phone {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-left: 48px;

        &-number {
          font-size: 20px;
          line-height: 24px;          
        }

        &-text {
          font-family: $secondory-text;
          font-size: 15px;
          color: $accent-color;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
