@import '../../global.scss';

.header {
  padding: 24px 0 64px;

  .header-wrapper {
    display: flex;
    width: 100%;
    min-height: 500px;
    border-radius: 16px;
    margin-bottom: 20px;   

    .header-left {
      width: 67.5%;
      padding-left: 80px;
      padding-bottom: 88px;
      display: flex;
      align-items: flex-end;

      h1 {
        color: white;
      }
    }

    .header-right {
      width: 32.5%;
      display: flex;
      align-items: center;      
    }
  }

  .form {
    width: 382px;
    height: 387px;
    padding: 32px 40px 48px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);

    h3 {
      font-size: 24px;
      line-height: 32px;
      font-weight: normal;
      margin-bottom: 15px;
      color: white;
    }

    .form-group {
      margin-bottom: 16px;
      label {
        display: inline-block;
        font-family: $secondory-text;
        font-size: 12px;
        line-height: 15px;
        color: white;
        font-weight: 300;
        margin-bottom: 5px;
      }
      input {
        display: block;
        border: none;
        width: 100%;
        height: 52px;
        padding-left: 16px;
        border-radius: 4px;
      }
    }    
  } 
  
  .bottom-header {
    display: flex;
    width: 100%;
    height: 288px;
    border-radius: 16px;
    padding: 48px 0 64px 80px;
    background-color: $main-color;  
    background: linear-gradient(top left, $bg-color, $main-color 25%);
    background: -moz-linear-gradient(top left, $bg-color, $main-color 25%);
    background: linear-gradient(to bottom right, $bg-color, $main-color 25%);      

    .left {
      flex: 1;           

      h2 {
        font-size: 40px;
        color: $accent-color;
        font-weight: bold;
        margin-bottom: 24px;
      }

      p {
        font-family: $main-text;
        line-height: 28px;
        padding-right: 134px;
        margin: 0;
        font-size: 15px;
      }
    }

    .right {
      flex: 1;
      padding-left: 140px;
      position: relative;

      .header-image {
        width: 483px;   
      }
      .pigeon-image-left {
        width: 205px;
        position: absolute;
        left: 0;
        top: -99px;
      }
      .pigeon-image-right {
        width: 239px;
        position: absolute;
        right: -32px;
        top: -37px;
      }

      img {
        display: block;
        width: 100%;
      }
    }
  }
}