$accent-color: #C6AF66;
$bg-color: #FBEEDB;
$gradient-color: #FBF6DB;
$main-color: #F7F7F8;
$font-color: #424343;

$main-text: 'Lato', sans-serif;
$secondory-text: 'Roboto', sans-serif;

$content-width: 1588px;

// media

$mobile-width: 768px;

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content
  }
}