@import './global.scss'; 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: $main-text;
  font-weight: normal;
  color: $font-color;  
  font-size: 16px;
}

.container {
  width: $content-width;
  margin: 0 auto;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "palladio", 'sans-serif';  
}

ul, li {
  list-style: none;
}

.btn {
  padding: 16px 32px;
  font-size: 15px;
  line-height: 20px;
  color: white;
  background-color: $accent-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.white {
    background-color: transparent;
    color: $accent-color;
    border: 2px solid $accent-color;
  }
}

input:focus {
  outline: none;
}

@font-face {
  font-family: "palladio";
  src: local("palladio"),
    url("./fonts/palladio/P052-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "palladio";
  src: local("palladio"),
    url("./fonts/palladio/P052-Roman.ttf") format("truetype");
  font-weight: normal;
  }
