@import '../../global.scss';

.slide {
  width: 100vw;
  height: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;  

  .container {
    height: inherit;
  }

  .arrow {
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      top: calc(50%-26px);      
      left: 7.5%;      
      transform: rotateY(180deg);
    }

    &.right {
      top: calc(50%-26px);
      right: 7.5%;      
    }
  }

  .slider {
    width: 100%;
    height: inherit;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .slide-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px 0;

      .slide {
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        // @include mobile {
        //   width: 80%;          
        //   height: 250px;
        //   justify-content: space-between;
        // }
        
        img {
          max-width: 100%;
        }
      }
    }
  }  
}